/* Global */

:root {
  --color-bgc: #FAF5E2;
  --color-black: #171717;
  --color-white: #FFFFFF;
  --color-brown:  #362F2A;
  --color-blue: #2060CD;
  --color-yellow: #FBD47F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding:  0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; 
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color:  var(--color-black);
}