/* Global */

:root {
  /* Colors */
  --color-beige: #FAF5E2;
  --color-black: #171717;
  --color-gray: #3F3F3F;
  --color-white: #FFFFFF;
  --color-brown:  #362F2A;
  --color-blue: #2060CD;
  --color-yellow: #FBD47F;
  --color-green: #88D8B0; 

  /* App Colors */
  --color-primary: var(--color-beige);
  --color-text: var(--color-black);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-yellow);

  /* Padding */
  --m-padding:  2.4rem;
  --d-padding: 4rem;
  --m-min-width:  34rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding:  0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: var(--color-primary);
  min-width:  var(--m-min-width);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding:  0;
}

a {
  text-decoration: none;
  color:  var(--color-text);
  display: block;
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline:  1px solid var(--color-accent);
}

.wrapper {
  padding: 0 clamp(var(--m-padding), 100vw, var(--d-padding));
}