
/* header */
.header {
  position: fixed;
  top:  2rem;
  width:  100vw;
  z-index:  10;
}

.header__inner {
  width: 100%;
  padding: 0 clamp(var(--m-padding), 90vw, var(--d-padding));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--color-brown);
  border-bottom: 1px solid var(--color-brown);
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo__title {
  font-size: 1rem;
}

.header__logo__title a {
  display: block;
  width: 100%;
  height: 100%;
}


.header__logo__img {
  width: 8.2rem;
  height: auto;
  transform: translateX(-10%);
}

.available {
  text-align: right;
  position: relative;
}

.available__title {
  position: relative;
}

.available__title::before,
.available__title::after {
  content:  '';
  display:  block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--color-green);
  border-radius: 50%;
  position: absolute;
  top:  0.4rem;
  left: -1.4rem;
  transform-origin:  50% 50%;
}

.available__title::before{
  animation: available 2s infinite;
}

@keyframes available {
  90%{
    opacity: 0;
    transform: scale(2.5);
  }
  100%{
    opacity: 0;
    transform: scale(2.5);
  }
}

.mail {
  padding: .2rem clamp(var(--m-padding), 90vw, var(--d-padding));
  color:  var(--color-brown);
}

.mail:hover {
  opacity: 60%;
}


/* Main - intro */
#intro {
  padding-top: 10rem;
  width: 100%;
  height: 100vh;
  position: relative;  
}

#intro .wrapper {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 320px 320px;
  place-items: center;
  gap:  1.2rem;
  margin: 0 auto;
}

#intro a {
  max-width: 320px;
  max-height: 320px;
  border-radius: 10%;
  overflow: hidden;
}

#intro img {
  width: 100%;
  height: 100%;
}


#intro a:hover {
  transform: translateY(-1rem);
  transition: 0.4s;
  box-shadow: 0 10px 10px var(--color-brown);
}

#intro a:active {
  box-shadow: 0 -20px -10px var(--color-brown);
  transform: translateY(0);
}

.scroll {
  width: 40px;
  height: 50px;
  border: 1px solid var(--color-brown); 
  border-radius: 30px;
  color:  var(--color-brown);
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  font-size: 18px;
  animation:  scrolling 2s infinite;
}

@keyframes scrolling {
  from{
    transform: translateY(-6px);
  }
  to{
    transform: translateY(6px);
  }
}

/* Main - self-introduction */




